.heading{
  font-size:45px;
  width: 100%;
  margin:0px;
  box-shadow: 5px 5px 5px grey;
}
.heading_1{
  border-radius: 20px;
  padding-bottom:20px;
  margin-top:1px;
  box-shadow: 5px 5px 5px grey;
  font-size:30px;
  width:900px;
}
.heading_2{
  border-radius: 20px;
  padding:10px;
  box-shadow: 5px 5px 5px grey;
  font-size:20px;
}
#dev{
  font-size:35px;
  width: 100%;
  position:fixed;
  bottom: 0px;
}
canvas{
border:10px ridge white;
box-shadow: 5px 5px 5px grey;
margin-top: 130px;
border-radius: 20px;
}
.clr{
  background-color: violet;
  color: white;
  width:100px;
  
 padding-left: 0;
}
#object,#accuracy{
  font-size: 25px;
}
 